@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Noto+Sans:wght@400;700&display=swap');
@import url("https://use.typekit.net/dng1lwr.css");
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010221;
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
}

section {
    position: relative;
    border-radius: 1rem 3rem;
    margin: 1.5rem auto 1.5rem auto;
}
.border {
    border: solid #EDAA25 1px;
    border-radius: 1rem 3rem;
}
div.wrapper {
    padding: 2rem 5rem;
}
div.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.menu header {
    width: 5rem;
}
div.menu header span {
    font-family: "alfarn-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

/* hero-section */
div.hero-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.hero-section-content-primary {
    width:60%;
    height: 32rem;
    padding: 1rem;
}
div.hero-section-content-primary h1 {
    font-family: "alfarn-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6.4rem;
}
div.hero-section-content-primary span {
    font-size: 1.6rem;
}
div.hero-section-content-secondary {
    width: 35%;
    height: 32rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about section*/
section.about-section {
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem 3rem;
    text-align: center;
}

div.about-section-text {
    margin: 1rem auto 1rem auto;
    font-size: x-large;
    
}

/* projects section*/
section.projects-section {
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}
div.projects-section-content {
    margin: 1rem auto 1rem auto;
}
div.projects-section-content nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
div.projects-section-content nav ul li {
    list-style: none;
    background-color: #ffffff;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    text-align: left;
}
div.projects-section-content nav ul li:hover {
    transform: scale(1.1);
}
div.projects-section-content nav ul li span {
    color: #010221;
}
div.projects-section-content nav ul li a{
    text-decoration: none;
    color: #ffffff;
    background-color: #010221;
    padding: 0.5rem;
    border-radius: 1rem;
    width: fit-content;
}
div.projects-section-content nav ul li a:hover {
    background-image: linear-gradient(to right ,#010221,#EDAA25);
}

/* find more section */
section.find-more-section {
    background-color: #EDAA25;
    color: #010221;
    padding: 1rem;
    text-align: center;
}
div.find-more-section-content {
    margin: 1rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

div.find-more-section-content a {
    background-color: #010221;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 1rem;
    text-decoration: none;
    color: #ffffff;
    transition: ease 0.5s;
}

div.find-more-section-content a:hover {
    background-image: linear-gradient(to right ,#010221,#EDAA25);
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer nav ul {
    display: flex;
    gap: 1rem;
}

footer span {
    font-size: xx-small;
}
footer nav li {
    list-style: none;
}
footer nav ul li a {
    text-decoration: none;
    color: #EDAA25;
    font-size: xx-small;
}
footer nav ul li a:hover {
    text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div.wrapper {
        padding: 1rem 2rem;
    }
    div.hero-section-content {
        flex-direction: column;
    }
    div.hero-section-content {
        align-items: normal;
        gap:1rem;
    }
    div.hero-section-content-primary {
        width: 100%;
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div.hero-section-content-primary h1 {
        font-size: 2rem;
    }
    div.hero-section-content-secondary {
        width: 100%;
        height: auto;
    }
    div.projects-section-content nav ul li {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    footer span {
        text-align: center;
    }
    footer nav {
        display: flex;
        justify-content: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div.wrapper {
        padding: 1rem 2rem;
    }
    div.hero-section-content {
        flex-direction: column;
    }
    div.hero-section-content {
        align-items: normal;
        gap:1rem;
    }
    div.hero-section-content-primary {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div.hero-section-content-primary h1 {
        font-size: 5rem;
    }
    div.hero-section-content-secondary {
        width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
    }
    footer span {
        text-align: center;
    }
    footer nav {
        display: flex;
        justify-content: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div.hero-section-content {
        flex-direction: row;
    }
    div.hero-section-content-primary h1 {
        font-size: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div.hero-section-content {
        flex-direction: row;
    }
    div.hero-section-content-primary h1 {
        font-size: 6.4rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    div.hero-section-content {
        flex-direction: row;
    }
    div.hero-section-content-primary h1 {
        font-size: 6.4rem;
    }
}